html{
    margin: 0;
    padding: 0;
}



body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* background-color: rgb(23, 23, 23); */
}

.spacer{
    height: 80px;
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    flex-direction: row;
    background-color: black;
}

.logo{
    width: 50px;
    height: 50px;
    flex-grow: 1;
}

img{
    width: 50px;
    height: 50px;
}

.title{
    flex-grow: 1;
    text-align: center;


}

.label{
    color: white;
    font-size: 24pt;
    font-weight: bold;
}

.space{
    flex-grow: 1;
}

.upload{
    display: flex;
    flex-direction: row;
    height: 40px;
}

.uploadButton{
    width: 300px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16pt;
    transition: box-shadow 0.5s ease;
}

.uploadButton:hover{
    background-color: rgb(58, 57, 57);
    cursor: pointer; 
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
}

/* .uploadholder2{
    visibility: hidden;
} */

.mainbody{
    height: 600px;
    margin: 20px;
    overflow: scroll;
    max-height: 600px;
    border: 1px solid black;

}

.emailnode{
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 30px;
    max-height: 20px;
    align-items: center;
    /* margin-left: 200px; */
    /* justify-content: center; */
    transition: box-shadow 0.3s ease;
    margin-bottom: 5px;
}

.emailnode:hover{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
}
.progressbar{
    width: 200px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 10px;

}

.horizontal-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.progress{
    height: 20px;
    width: 0;
    background-color: rgb(119, 242, 119);
    border-radius: 10px;
}

.progressValue{
    text-align: center;
    min-width: 50px;
    /* position: absolute; */
    /* left: 50%; */
}

.emailname{
    font-size: 14pt;
    color: black;
    flex-grow: 1;
    min-width: 400px;
    max-width: 400px;
}

.doneIcon{
    height: 20px;
    max-height: 20px;
}

#removeEmail{
    margin-left: 30px;
}

.uploadholder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#uploadLabel{
    font-size: 12pt;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    
    white-space: nowrap;
}

#uploadLabel2{
    font-size: 12pt;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    color: white;
    white-space: nowrap;
}

#removeEmail:hover{
    cursor: pointer;
    background-color: red;
}


.passwordbox{
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    /* padding: 10px; */
}

.emailnumber{
    width: 30px;
    color: black;
    font-size: 14pt;
    min-width: 30px;
}

.textbox{
    /* font-weight: bold; */
    height: 20px;
    overflow: hidden;
}


.hidden{
    display: none;
}
